/* Color Theme Swatches in Hex */
$yellow-hex: #FFAB0D;
$brown-hex: #751807;
$gray-hex: #6F6C78;
$blue-hex: #5272E8;
$green-hex: #078F2A;
$ligth-green-hex: lighten($color: $green-hex, $amount: 50);
$ligth-blue-hex: lighten($color: $blue-hex, $amount: 30);

/* Color Theme Swatches in RGBA */
$yellow-rgba: rgba(255,170,13, 1);
$brown-rgba: rgba(117,23,7, 1);
$gray-rgba: rgba(110,107,119, 1);
$blue-rgba: rgba(82,114,232, 1);
$green-rgba: rgba(7,142,42, 1);

